<div class="login-page">
  <h1>Trainer Login</h1>

  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>
  <div class="login-form">
    <%= form_for :session do |f| %>
      <%= f.label :email %><br>
      <%= f.text_field :email  %><br><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br><br>

      <%= f.submit %>
    <% end %>
  </div>
</div>
