<h1><%= @user.username %></h1>

<p><b>Age: </b> <%= @user.age %></p>
<p><b>Favorite Pokemon: </b> <%= @user.favorite_pokemon %></p>
<p><b>Favorite Type: </b> <%= @user.favorite_type %></p>
<p><b>Bio: </b> <%= @user.bio %></p>



