<h1><%= @user.username %></h1>

<p><b>Age: </b> <%= @user.age %></p>
<p><b>Favorite Pokemon: </b> <%= @user.favorite_pokemon %></p>
<p><b>Favorite Type: </b> <%= @user.favorite_type %></p>
<p><b>Bio: </b> <%= @user.bio %></p>

<h3>My Party! </h3>

<% @user.pokemons.each do |p| %>
<%=link_to p.name, pokemon_path(p) %> 
<%end %> 


<% @user.pokemons.each do |p| %>
<img src= <%=p.front_img %> >
<%end %> 

<% if @user.parties == []%>
<%= button_to "Catch Pokemon", new_party_path(@user.id), method: :get%>


<% else %>
<%= button_to "Update Party", edit_party_path(@user.id), method: :get%>
<%= button_to "Release Pokemon", party_path(@user.id), method: :delete%>
<%end %>





