<%= stylesheet_link_tag 'application' %>

 <h1>The Original Pokemon</h1>

<div class="pokedex">
    <% sum = 0%>
    <% @pokemons.each do |pokemon| %>
    <div class="poke-index"><p class="poke-index2"> <%= sum+=1 %>. <a href="<%= pokemon_path(pokemon) %>" ><%= image_tag pokemon.front_img%> </a></p></div>
    <% end %>
</div>
<%=  %>
<%# <a><img src="pokemon.png" /></a> %> 