<div class="pokeshow">
    <div class="title">
        <h1><%= @pokemon.name %></h1>
    </div>
    <div class="pokeimg">
        <img src=<%= @pokemon.front_img %>>
        <img src=<%= @pokemon.back_img %>>
    </div>
    <div class="desc">
        <p><b id="desc_title">Pokedex Number: </b> <%= @pokemon.pokedex_number %></p>
        <p><b>Type: </b> <%= @pokemon.pokemontype %></p>
        <p><b>Bio: </b> <%= @pokemon.description %></p>
    </div>
</div>




